/*!* GLOBAL STYLES*/
/*-------------------------------------------------- *!*/
/*!* Padding below the footer and lighter body text *!*/
body, html {
    height: 100%;
}

#container_bd {
    min-height: 100%;
}

body {
    padding-top: 3rem;
    color: #5a5a5a;
}

.carousel-control {
    padding-top: 10%;
    width: 5%;

}

#links {
    margin-top: -20px;
    margin-right: -150px;
    font-size: 12px;
}

#city {
    margin-bottom: -20px;
}

.background_label {
    width: 110%;
    height: auto;
    background: gray;
    border: solid gray 1px;
    padding: 10px;
    color: white;
    margin-top: 30px;
    margin-left: -20px;
    margin-bottom: -30px;
}

.date_label {
    background: #cccccc;
    font-size: 10px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-top: -40px;
    float: right;
    color: black;
    text-align: center;
}

.card_image {
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.nav-link {

}

.mapSection {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 0;
}

footer {
    background-color: #DDDDDD;
    padding-top: 10px;
    width: 100%;
}

.reviews {
    border: solid black 1px;
}

.reviews h5 {
    padding: 10px;
}

.reviews hr {
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
}

@media only screen and (max-width: 500px) {
    .navbar-right li #links {
        margin-top: 0;
    }

    .navbar-right li #city {
        margin-bottom: 0;
    }

}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}

.br-wrapper.br-theme-fontawesome-stars {
    display: inline-block;
}

.blog {
    text-decoration: none;
    color: black;
}

.map_view .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.map_view .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.map_view .modal-content {
    top: 35px;
    height: 100%;
    border-radius: 0;
    color: white;
    overflow: auto;
}

.map_view .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    padding: 10px;
    background: white;
    border: 0;
    z-index: 10;
}

.map_view .modal-title {
    font-weight: 300;
    font-size: 1em;
    color: black;
    line-height: 30px;
}

.map_view .modal-body {
    position: absolute;
    top: 0;
    bottom: 60px;
    width: 100%;
    height: 100%;
    font-weight: 300;
    overflow: auto;
    background: white;
    padding: 0;
}

.info_content {
    color: black;
}

#event_type ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background: #f1f3f5;
    border-left: 1px solid rgba(241, 243, 245, 0.3);
}

#event_type ::-webkit-scrollbar-thumb {
    background: rgba(135, 152, 171, 0.9);
}

