{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}{% endblock %}
{% block content %}
    {% load static %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <p><img src="http://via.placeholder.com/140x100" class="img-responsive"
                            style="width: 60px; height: 40px;"></p>
                    <h2><b>BAD REQUEST.</b></h2>
                    <p>Syntax of the request not understood by the server.</p>
                    <p>Visit the <a href="{% url 'ruff:index' %}">homepage</a> or click on the links in the navigation
                        bar to get back on track.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}