{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}active{% endblock %}
{% block content %}
    {% load static %}
    <!-- /#sidebar-wrapper -->
    <script>

    function dateFilter(date_selected, selected) {
            var csrf_token = $.cookie('csrftoken');
            $('#loadingModal').modal('toggle');
            $.ajax({
                url: "/event/date_filter/",
                type: 'POST',
                headers: {"X-CSRFToken": csrf_token},
                data: {"date_selected": date_selected, "selected": selected},
                success: function (data) {
                    var returned_html = $(data);
                    $("#view").empty().append(returned_html);
                    $('html,body').animate({
                        scrollTop: $("body").offset().top
                    });
                    $('#loadingModal').modal('toggle');

                },
                error: function (err) {
                    if (err.statusCode === 403) {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    } else {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    }
                    $('#loadingModal').modal('toggle');
                }
            });
        }

        function sortForm(value) {
            var radio = $('input[type="radio"]:checked').map(function () {
                return $(this).val();
            }).get();
            dateFilter(radio[0], value);
            return false;
        }


        function filterForm() {
            var csrf_token = $.cookie('csrftoken');
            var checks = $('input[type="checkbox"]:checked').map(function () {
                return $(this).val();
            }).get();
            var all_checks = $('input[type="checkbox"]').map(function () {
                return $(this).val();
            }).get();

            var radio = $('input[type="radio"]:checked').map(function () {
                return $(this).val();
            }).get();

            var selected = $('#select_sort').val();

            $('#loadingModal').modal('toggle');

            $.ajax({
                url: '/event/filter/',
                type: 'POST',
                headers: {"X-CSRFToken": csrf_token},
                data: {
                    "check_list": JSON.stringify(checks),
                    "all_checks": JSON.stringify(all_checks),
                    "date_selected": radio[0],
                    "selected": selected
                },
                success: function (data) {
                    var returned_html = $(data);
                    $("#view").empty().append(returned_html);
                    $('html,body').animate({
                        scrollTop: $("body").offset().top
                    });
                    $('#loadingModal').modal('toggle');
                    {#                    $("#loadingModal").hide();#}

                },
                error: function (err) {
                    if (err.statusCode === 403) {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    } else {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    }
                    $('#loadingModal').modal('toggle');
                }
            });
            return false;
        }

        function dateForm(value) {
            var selected = $('#select_sort').val();
            dateFilter(value, selected);
            return false;
        }
    </script>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% include 'ruff/event_view.html' %}
        </div>

    </div>
    <!-- /#page-content-wrapper -->
    {% include 'ruff/event_request.html' %}

{% endblock %}