{% extends "ruff/main.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}active{% endblock %}
{% block content %}
    <h2>Event Input form</h2>
    <div class="row">
        <div class="col-md-12">
            {% if error_message %}
                <div class="alert alert-danger" style="width: 100%; height: 50px;">
                    {{ error_message }}
                </div>
            {% endif %}
        </div>
    </div>
    {% load static %}

    <form action="{% url 'ruff:event_form' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control form-control-danger" id="name" placeholder="Enter name"
                   value="{{ form.name }}" name="name"
                   required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" class="form-control form-control-danger" id="type" placeholder="Enter type"
                   value="{{ form.type }}" name="type"
                   required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description"
                   placeholder="Enter description"
                   name="description" required {{ form.disabled }}>{{ form.description }}
            </textarea>
        </div>
        <div class="form-group">
            <label for="organiser">Organiser:</label>
            <input type="text" class="form-control" id="organiser" placeholder="Enter organiser"
                   value="{{ form.organiser }}" name="organiser"
                   required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="cost">Cost:</label>
            <input type="text" class="form-control" id="cost" placeholder="Enter cost" value="{{ form.cost }}"
                   name="cost" required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="contact">Contact:</label>
            <input type="text" class="form-control" id="contact" placeholder="Enter contact" value="{{ form.contact }}"
                   name="contact" required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="website">Website:</label>
            <input class="form-control" id="website" type="url" value="{{ form.website }}"
                   placeholder="Enter website with http:// or https://"
                   name="website" required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" value="{{ form.location }}"
                   placeholder="Enter location" name="location" required {{ form.disabled }}>
        </div>
        <div class="form-group input-daterange input-group" id="datepicker">
            <label for="start_date">Start Date:</label>
            <input type="text" class="input-sm form-control" id="start_date" value="{{ form.start_date }}"
                   placeholder="Select start date"
                   name="start_date" required {{ form.disabled }}/>
            <label for="end_date">End Date:</label>
            <input type="text" class="input-sm form-control" id="end_date" value="{{ form.end_date }}"
                   placeholder="Select end date"
                   name="end_date" required {{ form.disabled }}/>
        </div>
        <div class="form-group input-group">
            <label for="start_time" style="width: 15%; margin-right: -10px;">Start Time:</label>
            <div class='input-group date' id='datetimepicker6' style="height: 40px; width: 80%;">
                <input type='text' class="input-sm form-control" id="start_time" value="{{ form.start_time }}"
                       placeholder="Select start time"
                       name="start_time" required {{ form.disabled }}/>
                {% if form.disabled != "disabled" %}
                    <span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
                {% endif %}
            </div>
            <label for="start_date" style="width: 15%; margin-left: 10px; margin-right: -15px;">End Time:</label>
            <div class='input-group date' id='datetimepicker7' style="height: 40px; width: 80%;">
                <input type='text' class="input-sm form-control" id="end_time" value="{{ form.end_time }}"
                       placeholder="Select end time"
                       name="end_time" required {{ form.disabled }}/>
                {% if form.disabled != "disabled" %}
                    <span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="photos">Photos:</label>
            {% if form.disabled != "disabled" %}
                <input type="file" class="form-control" id="photos" placeholder="Select to Upload file"
                       name="photos" value="{{ form.photo }}" accept="image/*" multiple>
            {% endif %}
            {% if form.photo_list and form.photo_list|length > 0 %}
                <div class="col-md-12" style="margin-left: -10px">
                    <div id="myCarousel" class="carousel">
                        <div class="carousel-inner">
                            {% for each_group in form.photo_list %}
                                <div class="carousel-item {% if forloop.first %} active {% endif %}">

                                    <div class="row">
                                        {% for each_photo in each_group %}

                                            <div class="col-sm-3">
                                                <img src="{{ each_photo }}" alt="Image"
                                                     style="height: 300px;">
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            {% endif %}
        </div>

        {% if form.update %}
            <div style="display: none;">
                <input type='number' name="id" value="{{ form.id }}"/>
                <input type="text" name="photo" value="{{ form.photo }}">
                <input type="radio" name="update" checked="{{ form.update }}">
            </div>
        {% endif %}

        <button type="submit" class="btn btn-success" name="event-submit" id="event-submit"
                style="width: 100%" {{ form.disabled }}>
            Submit
        </button>

    </form>

    <div class="row">
        {% if form.reviews %}
            <h5>Reviews</h5>


        {% endif %}
    </div>



{% endblock %}