{% load static %}
<div id="view">
    <div class="row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-danger" name="event_submission"
                    id="event_submission"
                    style="width: 100%;" data-toggle="modal" data-target="#eventModal">
                Submit your event
            </button>
            <div style="border: solid 1px #cccccc; padding: 20px; margin-top: 20px">
                <h6>Filters</h6>
                <div class="row"
                     style="font-size: small;">

                    <div class="form-group" style="width: 90%; margin-left: 15px">
                        <label for="select_sort">Sort by:</label>
                        <select class="form-control" id="select_sort" onchange="sortForm(this.value)">
                            <option value="name"
                                    {% if selected == 'name' %}selected="selected"{% endif %}>Name
                            </option>
                            <option value="type"
                                    {% if selected == 'type' %}selected="selected"{% endif %}>Type
                            </option>
                            <option value="start_date"
                                    {% if selected == 'start_date' %}selected="selected"{% endif %}>Start Date
                            </option>
                            <option value="cost"
                                    {% if selected == 'cost' %}selected="selected"{% endif %}>Cost
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-left: 2px; font-size: 14px">
                    <p>Date</p>
                </div>
                <div class="row" style="margin-top: -10px; font-size: 15px;">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                       value="any"
                                       {% if date_selected == 'any' %}checked{% endif %}
                                       onchange="dateForm(this.value)">
                                Any
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                       value="today"
                                       {% if date_selected == 'today' %}checked{% endif %}
                                       onchange="dateForm(this.value)">
                                Today
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                       value="tomorrow"
                                       {% if date_selected == 'tomorrow' %}checked{% endif %}
                                       onchange="dateForm(this.value)">
                                Tomorrow
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                       value="week"
                                       {% if date_selected == 'week' %}checked{% endif %}
                                       onchange="dateForm(this.value)">
                                This week
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 2px; font-size: 14px;">
                    <p>Event Type</p>
                </div>
                <div class="row" id="event_type">
                    <div class="col-sm-10" style="font-size: 15px; margin-top: -10px; max-height: 150px; overflow: auto;">
                        {% if types and types|length > 0 %}
                            {% for type in types %}
                                <div class="form-check">
                                    <label class="form-check-label">

                                        <input class="form-check-input" type="checkbox"
                                               {% if type.checked == True %}checked{% endif %}
                                               value="{{ type.value }}"
                                               onclick="filterForm()"> {{ type.value }}
                                    </label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Find events</h2>
            <div class="col-md-12">
                <div class="alert alert-danger" id="error_message_jax"
                     style="width: 100%; height: 50px; display: none;">
                </div>
            </div>
            {% if events|length == 0 %}
                <div class="text-center">There are currently no events</div>
            {% endif %}
            <div class="row" style="padding: 12px; ">
                {% if events and events|length > 0 %}
                    {% for event in events %}
                        <div class="card col-md-3 card_image"
                             style="background-image: url('{% static "ruff/css/images/black.png" %}'), url('{{ event.photo.0 }}');">

                            <div class="card-body">
                                <div><p class="date_label">{{ event.date | date:"M d" }}</p></div>
                                <a href="{% url 'ruff:view_single_event' event.id %}"
                                   style="text-decoration: none">

                                    <div class="background_label">
                                        <h5>
                                            {{ event.name }}
                                        </h5>
                                        <h6 class="card-text">
                                            {{ event.type }}
                                        </h6>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="col-1"></div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="row">
                <div class="col-md-12">


                    {% if events.has_other_pages %}
                        <ul class="pagination justify-content-center">
                            {% if events.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ events.previous_page_number }}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for i in events.paginator.page_range %}
                                {% if events.number == i %}
                                    <li class="page-item active"><a class="page-link">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if events.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ events.next_page_number }}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>