{% extends "ruff/main.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}active{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-success" style="width: 100%;" href="{% url 'ruff:event_form' %}">
                Add
            </a>
        </div>

    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-12">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Organiser</th>
                    <th>Location</th>
                    <th>Cost</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>View/Edit/Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Organiser</th>
                    <th>Location</th>
                    <th>Cost</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>View/Edit/Delete</th>
                </tr>
                </tfoot>
                <tbody>
                {% if events and events|length > 0 %}
                    {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.organiser }}</td>
                            <td>{{ event.location }}</td>
                            <td>{{ event.cost }}</td>
                            <td>{{ event.start_date }} - {{ event.end_date }}</td>
                            <td>{{ event.start_time }} - {{ event.end_time }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 20px;">
                                        <a style="color: black" href="{% url 'ruff:view_event' event.id %}"><i class="fa fa-eye" style="margin-right: 20px;"></i></a><a href="{% url 'ruff:update_event' event.id %}"><i
                                            class="fa fa-pencil"
                                            style="margin-right: 20px;"></i></a><a href="{% url 'ruff:delete_event' event.id %}"><i
                                            style="color: darkred" class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
