{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}active{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}{% endblock %}
{% block content %}
    {% load static %}

    {% csrf_token %}


    <script src="{% static "ruff/js/general_hike.js" %}"></script>
    <!-- /#sidebar-wrapper -->
    <script>
        function filterView(address, range, leash, selected, difficulty) {
            $('#loadingModal').modal('toggle');
            var csrf_token = $.cookie('csrftoken');
            $.ajax({
                url: '/hike/distance_filter/',
                type: 'POST',
                headers: {"X-CSRFToken": csrf_token},
                data: {
                    "address": address,
                    "range": range,
                    "off_leash": leash,
                    "selected": selected,
                    "diff_selected": difficulty
                },
                success: function (data) {
                    var returned_html = $(data);
                    $("#view").empty().append(returned_html);
                    $('html,body').animate({
                        scrollTop: $("body").offset().top
                    });
                    $('#loadingModal').modal('toggle');

                },
                error: function (err) {
                    if (err.statusCode === 403) {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    } else {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    }
                    $('#loadingModal').modal('toggle');
                }
            });
        }

        function leashChecked(value) {
            var address = $('#location').val();
            var selected = $('#select_sort').val();
            var difficulty = $('#difficulty_sort').val();
            var range = document.getElementById("range_distance").value;
            filterView(address, range, value, selected, difficulty);
        }

        function sortChecked(value) {
            var address = $('#location').val();
            var leash = $('#check_input').is(':checked');
            var difficulty = $('#difficulty_sort').val();
            var range = document.getElementById("range_distance").value;
            filterView(address, range, leash, value, difficulty);
        }

        function difficultyChecked(value) {
            var address = $('#location').val();
            var leash = $('#check_input').is(':checked');
            var selected = $('#select_sort').val();
            var range = document.getElementById("range_distance").value;
            filterView(address, range, leash, selected, value);
        }
    </script>
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="view">
                {% include 'ruff/hike_view.html' %}
            </div>
        </div>

    </div>
    <br>
    <!-- /#page-content-wrapper -->
    {% include 'ruff/other_modals.html' %}
{% endblock %}