{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}active{% endblock %}
{% block content %}
    {% load static %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12">Your dog's guide to the city.</div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-2">

                </div>
                <div class="col-md-1" style="border: solid #ccc 1px;">
                    <a href="{% url 'ruff:event' %}" style="text-decoration: none; color: inherit">
                        <div class="row text-center" style="padding: 5px; padding-top: 20px;">
                            <div class="col-md-12 text-center">
                                <img src="{% static "ruff/css/images/events.png" %}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">Events</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-1" style="border: solid #ccc 1px;">
                    <a href="{% url 'ruff:park' %}" style="text-decoration: none; color: inherit">
                    <div class="row text-center" style="padding: 5px">
                        <div class="col-md-12 text-center">
                            <img src="{% static "ruff/css/images/parks.png" %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">Parks</div>
                    </div>
                    </a>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-2" style="border: solid #ccc 1px;">
                    <a href="{% url 'ruff:restaurant' %}" style="text-decoration: none; color: inherit">
                    <div class="row text-center" style="padding: 5px">
                        <div class="col-md-12 text-center">
                            <img src="{% static "ruff/css/images/restaurants.png" %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">Restaurants</div>
                    </div>
                    </a>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-1 text-center" style="border: solid #ccc 1px; vertical-align: middle">
                    <a href="{% url 'ruff:hike' %}" style="text-decoration: none; color: inherit">
                    <div class="row text-center" style="padding: 5px">
                        <div class="col-md-12 text-center">
                            <img src="{% static "ruff/css/images/hikes.png" %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">Hikes</div>
                    </div>
                    </a>
                </div>
                <div class="col-md-2">

                </div>

            </div>
            <hr>

            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="http://via.placeholder.com/230x150" class="img-responsive">
                        </div>
                        <div class="col-md-9">
                            <a class="blog" href="{% url 'ruff:news' %}"><h3>News Title - ABCD adsa, asdsa</h3></a>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on
                                smaller
                                screens, and will appear non-collapsed on larger screens.</p>
                            <a href="{% url 'ruff:news' %}" class="btn btn-success" name="more1"
                                    id="more2"
                                    style="width: 30%; background-color: #FF6346; border: none; color: black">
                                Read More
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="http://via.placeholder.com/230x150" class="img-responsive">
                        </div>
                        <div class="col-md-9">
                            <a class="blog" href="{% url 'ruff:news' %}"><h3>News Title - ABCD adsa, asdsa</h3></a>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on
                                smaller
                                screens, and will appear non-collapsed on larger screens.</p>
                            <a href="{% url 'ruff:news' %}" class="btn btn-success" name="more1"
                                    id="more2"
                                    style="width: 30%; background-color: #FF6346; border: none; color: black">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5>Popular posts</h5>
                    <hr>
                    <div class="row" style="font-size: small">
                        <div class="col-md-3 text-center">
                            <img src="http://via.placeholder.com/140x100" class="img-responsive"
                                 style="width: 75px; height: 60px;">
                        </div>
                        <div class="col-md-9">
                            <span><a class="blog" href="{% url 'ruff:news' %}"><b>News Title</b></a> - The menu will appear collapsed on smaller
                        screens, and will appear non-collapsed on larger screens.</span>
                        </div>

                    </div>
                    <br>
                    <div class="row" style="font-size: small">
                        <div class="col-md-3 text-center">
                            <img src="http://via.placeholder.com/140x100" class="img-responsive"
                                 style="width: 75px; height: 60px;">
                        </div>
                        <div class="col-md-9">
                                <span><a class="blog" href="{% url 'ruff:news' %}"><b>News Title</b></a> - The menu will appear collapsed on smaller
                        screens, and will appear non-collapsed on larger screens.</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <!-- /#page-content-wrapper -->

{% endblock %}