<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RuffGuide</title>
    {% load static %}
    <!-- jQuery -->
    <script src="{% static "ruff/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "ruff/js/bootstrap.min.js" %}"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "ruff/css/bootstrap.min.css" %}" rel="stylesheet">

    <script>

    </script>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
            </div>
            <div class="form-group">

            </div>
        </div>
    </div>


</div>
</body>

</html>
