{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#    <link rel="stylesheet" href="{% static "ruff/css/flexslider.css" %}">#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "ruff/css/fontawesome-stars.css" %}">
    <link rel="stylesheet" href="{% static "ruff/css/carousel.css" %}">
    <style>
        /*!* GLOBAL STYLES*/
        /*-------------------------------------------------- *!*/
        /*!* Padding below the footer and lighter body text *!*/
        body, html {
            height: 100%;
        }

        #container_bd {
            min-height: 100%;
        }

        body {
            padding-top: 3rem;
            color: #5a5a5a;
        }

        .carousel-control {
            padding-top: 10%;
            width: 5%;

        }

        #links {
            margin-top: -20px;
            margin-right: -150px;
            font-size: 12px;
        }

        #city {
            margin-bottom: -20px;
        }

        .background_label {
            width: 110%;
            height: auto;
            background: gray;
            border: solid gray 1px;
            padding: 10px;
            color: white;
            margin-top: 30px;
            margin-left: -20px;
            margin-bottom: -30px;
        }

        .date_label {
            background: #cccccc;
            font-size: 10px;
            font-weight: bold;
            height: 50px;
            width: 50px;
            padding: 5px;
            margin-top: -40px;
            float: right;
            color: black;
            text-align: center;
        }

        .card_image {
            padding: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 10px;
        }

        .nav-link {

        }

        .mapSection {
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 0;
        }

        footer {
            background-color: #DDDDDD;
            padding-top: 10px;
            width: 100%;
        }

        .reviews {
            border: solid black 1px;
        }

        .reviews h5 {
            padding: 10px;
        }

        .reviews hr {
            margin-left: 5px;
            margin-top: -10px;
            margin-bottom: -10px;
        }

        hr {
            border: 0;
            clear: both;
            display: block;
            width: 96%;
            background-color: black;
            height: 1px;
        }

        @media only screen and (max-width: 500px) {
            .navbar-right li #links {
                margin-top: 0;
            }

            .navbar-right li #city {
                margin-bottom: 0;
            }

        }

        .hidden {
            display: none;
        }

        .unhidden {
            display: block;
        }

        .br-wrapper.br-theme-fontawesome-stars {
            display: inline-block;
        }

        .blog {
            text-decoration: none;
            color: black;
        }

        .map_view .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }

        .map_view .modal-dialog {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            max-width: 100%;
        }

        .map_view .modal-content {
            top: 35px;
            height: 100%;
            border-radius: 0;
            color: white;
            overflow: auto;
        }

        .map_view .modal-header {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 40px;
            padding: 10px;
            background: white;
            border: 0;
            z-index: 10;
        }

        .map_view .modal-title {
            font-weight: 300;
            font-size: 1em;
            color: black;
            line-height: 30px;
        }

        .map_view .modal-body {
            position: absolute;
            top: 0;
            bottom: 60px;
            width: 100%;
            height: 100%;
            font-weight: 300;
            overflow: auto;
            background: white;
            padding: 0;
        }

        .info_content {
            color: black;
        }

        #event_type ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
            background: #f1f3f5;
            border-left: 1px solid rgba(241, 243, 245, 0.3);
        }

        #event_type ::-webkit-scrollbar-thumb {
            background: rgba(135, 152, 171, 0.9);
        }


    </style>

    <!-- jQuery, Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static "ruff/js/jquery.barrating.min.js" %}"></script>
    <script src="{% static "ruff/js/general.js" %}"></script>
    <script>
        function initAutocomplete() {

            var input = document.getElementById('location');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('coordinates').value = place.geometry.location.lat() + ", " + place.geometry.location.lng();

            });

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDemTKrKvU6qAmvZIvC-J4JU5na3C-mGV4&libraries=places&callback=initAutocomplete"
            async defer></script>
    <style>
        body {
            padding-top: 3rem;
            padding-bottom: 3rem;
            color: #5a5a5a;
        }


    </style>
    {% block script %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'ruff:event_details' %}">Ruff Guides</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block event %}{% endblock %}">
                <a class="nav-link" href="{% url 'ruff:event_details' %}">Events</a>
            </li>
            <li class="nav-item {% block park %}{% endblock %}">
                <a class="nav-link" href="{% url 'ruff:park_details' %}">Parks</a>
            </li>
            <li class="nav-item {% block restaurant %}{% endblock %}">
                <a class="nav-link" href="{% url 'ruff:restaurant_details' %}">Restaurants</a>
            </li>
            <li class="nav-item {% block hike %}{% endblock %}">
                <a class="nav-link" href="{% url 'ruff:hike_details' %}">Hikes</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 30px">

    {% block content %}{% endblock %}
</div>
{#<footer class="bg-dark container-fluid text-center fixed-bottom">#}
{#    <p style="margin-top: 10px; color: white">&copy; 2017 <a href="" target="_blank" title="Ruff Guide">Ruff Guide</a> ver 1.0.0</p>#}
{#</footer>#}


</body>

</html>
