{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}active{% endblock %}
{% block content %}
    {% load static %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3>NEWS</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <div class="row text-left">
                        <img src="http://via.placeholder.com/230x150" class="img-responsive">
                    </div>
                    <br>
                    <h3>News Title - ABCD adsa, asdsa</h3>
                    <p>{% lorem 10 p %}</p>
                </div>
                <div class="col-md-3">
                    <h5>Popular posts</h5>
                    <hr>
                    <div class="row" style="font-size: small">
                        <div class="col-md-3 text-center">
                            <img src="http://via.placeholder.com/140x100" class="img-responsive"
                                 style="width: 75px; height: 60px;">
                        </div>
                        <div class="col-md-9">
                            <span><a class="blog" href="{% url 'ruff:news' %}"><b>News Title</b></a> - The menu will appear collapsed on smaller
                        screens, and will appear non-collapsed on larger screens.</span>
                        </div>

                    </div>
                    <br>
                    <div class="row" style="font-size: small">
                        <div class="col-md-3 text-center">
                            <img src="http://via.placeholder.com/140x100" class="img-responsive"
                                 style="width: 75px; height: 60px;">
                        </div>
                        <div class="col-md-9">
                                <span><a class="blog" href="{% url 'ruff:news' %}"><b>News Title</b></a> - The menu will appear collapsed on smaller
                        screens, and will appear non-collapsed on larger screens.</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <!-- /#page-content-wrapper -->

{% endblock %}