{% load static %}
<!-- Modal Loading -->
<div class="modal hide" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="margin-top: 15%" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: none; border: none">
      <div class="modal-body text-center">
        <img src="{% static "ruff/css/images/loading.gif" %}" class="img-responsive" style="max-height: 100px">
      </div>
    </div>
  </div>
</div>