{% extends "ruff/main.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}active{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}{% endblock %}
{% block content %}
    <h2>Park Input form</h2>
    <div class="row">
        <div class="col-md-12">
            {% if error_message %}
                <div class="alert alert-danger" style="width: 100%; height: 50px;">
                    {{ error_message }}
                </div>
            {% endif %}
        </div>
    </div>
    {% load static %}
    <form action="{% url 'ruff:park_form' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control form-control-danger" id="name" placeholder="Enter name" name="name"
                   value="{{ form.name }}"
                   required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" placeholder="Enter location" name="location"
                   value="{{ form.location }}" required {{ form.disabled }}>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" placeholder="Enter description"
                      name="description" required {{ form.disabled }}>{{ form.description }}
            </textarea>
        </div>
        <div class="form-group">
            <label for="days_of_week">Days of week (Enter days in this format(M, T, W: 10 - 12am),(T, F: 12 -
                1pm)):</label>
            <textarea class="form-control" id="days_of_week"
                      placeholder="Enter days in this format(M, T, W: 10 - 12am),(T, F: 12 - 1pm)"
                      name="days_of_week" required {{ form.disabled }}>{{ form.days_of_week }}
            </textarea>
        </div>
        <div class="form-group">
            <label for="photos">Photos:</label>
            {% if form.disabled != "disabled" %}
                <input type="file" class="form-control" id="photos" placeholder="Select to Upload file"
                       name="photos" value="{{ form.photo }}" accept="image/*" multiple>
            {% endif %}
            {% if form.photo_list and form.photo_list|length > 0 %}
                <div class="col-md-12" style="margin-left: -10px">
                    <div id="myCarousel" class="carousel">
                        <div class="carousel-inner">
                            {% for each_group in form.photo_list %}
                                <div class="carousel-item {% if forloop.first %} active {% endif %}">

                                    <div class="row">
                                        {% for each_photo in each_group %}

                                            <div class="col-sm-3">
                                                <img src="{{ each_photo }}" alt="Image"
                                                     style="height: 300px;">
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="leash">Leash</label>
            <select class="form-control" id="leash" name="leash" {{ form.disabled }}>
                {% if form.leash == True %}
                    <option value="True" selected="{{ form.leash }}">True</option>
                {% else %}
                    <option value="True">True</option>
                {% endif %}
                {% if form.leash == False %}
                    <option value="False" selected="{{ form.leash }}">False</option>
                {% else %}
                    <option value="False">False</option>
                {% endif %}
            </select>
        </div>

        {% if form.update %}
            <div style="display: none;">
                <input type='number' name="id" value="{{ form.id }}"/>
                <input type="text" name="photo" value="{{ form.photo }}">
                <input type="radio" name="update" checked="{{ form.update }}">
            </div>
        {% endif %}


        <button type="submit" class="btn btn-success" name="park-submit" id="park-submit" style="width: 100%">
            Submit
        </button>
    </form>
    <br>
    <div class="row" style="margin-left: 20px; margin-right: 20px;">
        <div class="col-md-12">
            {% if reviews %}
                <div class="row reviews">
                    <h5>Reviews</h5>
                    <hr>
                    <br/>
                    {% for review in reviews %}
                        <script type="text/javascript">
                            $(function () {
                                $('#rate{{ review.id }}').barrating({
                                    theme: 'fontawesome-stars',
                                    readonly: true,
                                    initialRating: {{ review.rating }}
                                });
                            });
                        </script>
                        <div class="col-md-12" style="margin-bottom: 15px">
                            <p>Date: {{ review.date }}<span class="text-right" style="float: right"><a
                                    href="{% url 'ruff:delete_park_review' form.id review.id %}"><i
                                    style="color: darkred; font-size: 30px;" class="fa fa-trash"></i></a></span></p>
                            <p>Rating:
                                <select id="rate{{ review.id }}" style="display: inline-block;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </p>
                            <p>User: {{ review.user }}</p>
                            <p>Comment: {{ review.comments }}</p>
                            {% if review.photo_list and review.photo_list|length > 0 %}
                                <div class="col-md-12" style="margin-left: -10px">
                                    <div id="myCarousel" class="carousel">
                                        <div class="carousel-inner">
                                            {% for each_group in review.photo_list %}
                                                <div class="carousel-item {% if forloop.first %} active {% endif %}">

                                                    <div class="row">
                                                        {% for each_photo in each_group %}

                                                            <div class="col-sm-3">
                                                                <img src="{{ each_photo }}" alt="Image"
                                                                     style="height: 170px;">
                                                            </div>
                                                        {% endfor %}

                                                    </div>

                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#myCarousel" role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#myCarousel" role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                </div>
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}


                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}