{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}active{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}{% endblock %}
{% block content %}
    {% load static %}
    {% csrf_token %}


    <script src="{% static "ruff/js/general_park.js" %}"></script>
    <!-- /#sidebar-wrapper -->
    <script>
        function filterView(address, range, leash, selected) {
            window.google = {};
            $('#loadingModal').modal('toggle');
            var csrf_token = $.cookie('csrftoken');
            $.ajax({
                url: '/park/distance_filter/',
                type: 'POST',
                headers: {"X-CSRFToken": csrf_token},
                data: {"address": address, "range": range, "off_leash": leash, "selected": selected},
                success: function (data) {
                    var returned_html = $(data);
                    $("#view").empty().append(returned_html);
                    $('html,body').animate({
                        scrollTop: $("body").offset().top
                    });
                    $('#loadingModal').modal('toggle');
                },
                error: function (err) {
                    if (err.statusCode === 403) {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    } else {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    }
                    $('#loadingModal').modal('toggle');
                }
            });

        }

        function leashChecked(value) {
            var address = $('#location').val();
            var selected = $('#select_sort').val();
            var range = document.getElementById("range_distance").value;
            filterView(address, range, value, selected);
        }

        function sortChecked(value) {
            var address = $('#location').val();
            var leash = $('#check_input').is(':checked');
            var range = document.getElementById("range_distance").value;
            filterView(address, range, leash, value);
        }
    </script>


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="view">
                {% include 'ruff/park_view.html' %}
            </div>
        </div>
    </div>
    <br>


    <!-- /#page-content-wrapper -->
    {% include 'ruff/other_modals.html' %}
{% endblock %}