<style>
    .glyphicon.glyphicon-chevron-right {
        opacity: 1 !important;
        color: gray;
    }

    .glyphicon.glyphicon-chevron-left {
        opacity: 1 !important;
        color: gray;
    }
</style>
<script type='text/javascript'>
    /* attach a submit handler to the form */
    $(document).ready(function () {
        $('#form_review').on('submit', function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            formData.append("rating", $("#rating").val());
            $.ajax({
                url: '/park_review_form/{{ park.single_park.id }}/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    var returned_html = $(data);
                    $("#review_panel").empty().append(returned_html);
                    $('html,body').animate({
                        scrollTop: $("#review_panel").offset().top
                    });
                },
                error: function (err) {
                    console.log(err)
                    if (err.statusCode === 403) {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    } else {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    }
                }
            });

        });
        $("#comment").click(function () {
            $("div").toggleClass("hidden unhidden");
        });
    });

</script>
<script type="text/javascript">
    $(function () {
        $('#rating').barrating({
            theme: 'fontawesome-stars'
        });
    });
</script>
<br>
<div id="review_panel">
    <div class="row">
        <p>Been here before ? <b><a id="comment" style="cursor: pointer;">Leave a comment</a></b> or review for others!</p>
    </div>
    <div class="row" id="review_form">
        <div class="col-md-12">
            <div class="alert alert-danger" id="error_message_jax" style="width: 100%; height: 50px; display: none;">

            </div>
        </div>
        <div class="col-md-12 hidden" style="" id="form_rev">
            <form id="form_review" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">Username:</label>
                    <input type="text" class="form-control form-control-danger" id="user" placeholder="Enter name"
                           name="user" value="" required>
                </div>
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <select id="rating" style="display: inline-block;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Comments:</label>
                    <textarea class="form-control" id="comments" placeholder="Enter description"
                              name="comments" required></textarea>
                </div>
                <div class="form-group">
                    <label for="photos">Photos:</label>
                    <input type="file" class="form-control" id="photos" placeholder="Select to Upload file"
                           name="photos" value="" accept="image/*" multiple>
                </div>
                <button type="submit" class="btn btn-success" name="review-submit" id="review-submit"
                        style="width: 100%">
                    Submit
                </button>
            </form>

        </div>

    </div>
    <br>
    {% if park.review|length > 0 %}
        <div class="row reviews">
            <h5>Reviews</h5>
            <hr>
            <br/>
            {% for review in park.review %}
                <script type="text/javascript">
                    $(function () {
                        $('#rate{{ review.id }}').barrating({
                            theme: 'fontawesome-stars',
                            readonly: true,
                            initialRating: {{ review.rating }}
                        });
                    });
                </script>
                <div class="col-md-12" style="margin-bottom: 15px">
                    <p>Date: {{ review.date }}</p>
                    <p>Rating:
                        <select id="rate{{ review.id }}" style="display: inline-block;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </p>
                    <p>User: {{ review.user }}</p>
                    <p>Comment: {{ review.comments }}</p>
                    {% if review.photo_list and review.photo_list|length > 0 %}
                        <div class="col-md-12" style="margin-left: -10px">
                            <div id="myCarousel" class="carousel">
                                <div class="carousel-inner">
                                    {% for each_group in review.photo_list %}
                                        <div class="carousel-item {% if forloop.first %} active {% endif %}">

                                            <div class="row">
                                                {% for each_photo in each_group %}

                                                    <div class="col-sm-3">
                                                        <img src="{{ each_photo }}" alt="Image"
                                                             style="height: 170px;">
                                                    </div>
                                                {% endfor %}

                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}


        </div>
    {% endif %}
</div>
