{% load static %}
<script>
    $(document).ready(function () {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.src = "https://maps.google.com/maps/api/js?key=AIzaSyDemTKrKvU6qAmvZIvC-J4JU5na3C-mGV4&libraries=geometry,places&callback=initMap";

        $(".map_view").append(s);
        $("#map_button").click(function () {
            $('#mapModal').modal('toggle');
            mapInitialization();
        });

        $("#close_modal").click(function () {
            $('#mapModal').modal('toggle');
        });

        $("#current_location").click(function () {
            var user_location = localStorage.getItem('UL');
            var json_location = JSON.parse(user_location);
            if (user_location === undefined || user_location === null) {
                setNavigator();
            }
            else {
                callAddress(true, json_location.lat, json_location.lng)
            }

        });
    });
</script>
<script>
    function initAutocomplete() {

        var input = document.getElementById('location');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            var address = place.formatted_address;
            var slider = document.getElementById("range_distance").value;

            var selected = $('#select_sort').val();
            filterView(address, slider, selected);
        });

    }
</script>
<div class="row">
    <div class="col-md-3" style="margin-top: 10px;">
        <button type="submit" class="btn btn-danger" name="restaurant_submission"
                id="restaurant_submission"
                style="width: 100%;" data-toggle="modal" data-target="#restaurantModal">
            Submit your restaurant
        </button>
        <div class="alert alert-danger alert-dismissable" id="alert_input" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Please ensure the location field is filled.
        </div>
        <div style="border: solid 1px #cccccc; padding: 20px; margin-top: 20px">
            <h6>Filters</h6>
            <div class="row"
                 style="font-size: small;">

                <div class="form-group" style="width: 90%; margin-left: 15px">
                    <label for="select_sort">Sort by:</label>
                    <select class="form-control" id="select_sort" onchange="sortChecked(this.value)">
                        <option value="name"
                                {% if selected == 'name' %}selected="selected"{% endif %}>Name
                        </option>
                        <option value="type"
                                {% if selected == 'type' %}selected="selected"{% endif %}>Type
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="font-size: 14px">
                <div class="col-md-12">
                    <label for="location">Near postcode/suburb:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="location" placeholder="Enter location"
                               name="location"
                               value="{{ location }}" required>
                        <span class="input-group-addon" id="current_location"><i
                                class="fa fa-location-arrow" title="Use your current location"></i></span>
                    </div>
                </div>
            </div>
            <div class="row" style="font-size: 14px;">
                <div class="col-md-10 text-center">
                    <div class="form-group">
                        <input type="range" class="form-control" id="range_distance" name="range_distance"
                               min="1"
                               max="100" value="{{ range_distance }}">
                    </div>
                </div>
                <div class="col-md-2 text-center" style="display: inline-block;margin-left: -20px; font-size: 14px;">
                    <span id="range_output"></span>km
                </div>

            </div>
            <script>
                var slider = document.getElementById("range_distance");
                var output = document.getElementById("range_output");
                output.innerHTML = slider.value; // Display the default slider value

                slider.oninput = function () {
                    output.innerHTML = $(this).val() !== "100" ? "< " + $(this).val() : "> " + $(this).val();
                };

                // Update the current slider value (each time you drag the slider handle)
                $('#range_distance').change(function () {
                    output.innerHTML = $(this).val() !== "100" ? "< " + $(this).val() : "> " + $(this).val();

                    var address = $('#location').val();
                    var selected = $('#select_sort').val();

                    if (address !== "") {
                        filterView(address, $(this).val(), selected)
                    }
                    else {
                        document.getElementById('alert_input').style.display = "block";
                    }
                });
            </script>
        </div>
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <h2>Find dog friendly restaurants
            {% if restaurants|length > 0 %}
                <button id="map_button" class="btn btn-danger grid_view" style="float: right">Map View
                </button>
            {% endif %}
        </h2>
        {% if restaurants|length == 0 %}
            <div class="text-center">There are currently no restaurants available for display</div>
        {% endif %}
        <div class="row grid_view" style="padding: 12px; ">
            {% if restaurants and restaurants|length > 0 %}
                {% for restaurant in restaurants %}
                    <div class="card col-md-5 card_image"
                         style="background-image: url('{% static "ruff/css/images/black.png" %}'), url('{{ restaurant.photo.0 }}');">
                        <div class="card-body">
                            <div><p class="date_label" id="date">{{ restaurant.distanceaway }}</p></div>
                            <a href="{% url 'ruff:view_single_restaurant' restaurant.id %}"
                               style="text-decoration: none">

                                <div class="background_label">
                                    <h5>
                                        {{ restaurant.name }}
                                    </h5>
                                    <h6 class="card-text">
                                        {{ restaurant.type }}
                                    </h6>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-1"></div>
                {% endfor %}
            {% endif %}

        </div>
        <div class="row grid_view">
            <div class="col-md-12">
                {% if restaurants.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if restaurants.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ restaurants.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in restaurants.paginator.page_range %}
                            {% if restaurants.number == i %}
                                <li class="page-item active"><a class="page-link">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if restaurants.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ restaurants.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row map_view" style="padding: 12px;">
    <div class="modal hide" id="mapModal" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hike Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        id="close_modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="mapSection" id="mapSection"></div>
                    <script>
                        function mapInitialization() {
                            var myOptions = {
                                zoom: 3,
                                mapTypeId: 'roadmap',
                                scrollwheel: false
                            };
                            map = new google.maps.Map(document.getElementById("mapSection"), myOptions);

                            {% if restaurants and restaurants|length > 0 %}
                                {% for restaurant in restaurants %}
                                    var infowindow = new google.maps.InfoWindow();
                                    var geocoder;
                                    geocoder = new google.maps.Geocoder();
                                    if (geocoder) {
                                        geocoder.geocode({'address': '{{ restaurant.street_number }}, {{ restaurant.street_name }} {{ restaurant.suburb }} {{ restaurant.state }}'}, function (results, status) {
                                            if (status == google.maps.GeocoderStatus.OK) {
                                                if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                                                    map.setCenter(results[0].geometry.location);
                                                    var content = '<div class="info_content">' +
                                                        '<img src="{{ restaurant.photo.0 }}" class="img-fluid mx-auto" style="height: 100px">' +
                                                        '<h3>{{ restaurant.name }}</h3>' +
                                                        '<a href="{% url 'ruff:view_single_restaurant' restaurant.id %}" class="btn btn-primary btn-block"> View Details </a>' +
                                                        '</div>';
                                                    var marker = new google.maps.Marker({
                                                        position: results[0].geometry.location,
                                                        map: map
                                                    });

                                                    google.maps.event.addListener(marker, "click", function () {
                                                        infowindow.setContent(content);
                                                        infowindow.open(map, marker);
                                                    });

                                                } else {
                                                    console.log("No results found");
                                                }
                                            } else {
                                                console.log("Geocode was not successful for the following reason: " + status);
                                            }
                                        });
                                    }
                                {% endfor %}
                            {% endif %}
                            initAutocomplete();
                        }

                        function initMap() {
                            mapInitialization()
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>



