{% extends "ruff/main.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}active{% endblock %}
{% block event %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-success" style="width: 100%;" href="{% url 'ruff:restaurant_form' %}">
                Add
            </a>
        </div>

    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-12">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>Phone Number</th>
                    <th>View/Edit/Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>Phone Number</th>
                    <th>View/Edit/Delete</th>
                </tr>
                </tfoot>
                <tbody>
                {% if restaurants and restaurants|length > 0 %}
                    {% for restaurant in restaurants %}
                        <tr>
                            <td>{{ restaurant.name }}</td>
                            <td>{{ restaurant.type }}</td>
                            <td>{{ restaurant.description }}</td>
                            <td>{{ restaurant.street_number }} {{ restaurant.street_name }} {{ restaurant.suburb }}</td>
                            <td>{{ restaurant.state }}</td>
                            <td>{{ restaurant.phone_number }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 20px;">
                                        <a style="color: black" href="{% url 'ruff:view_restaurant' restaurant.id %}"><i class="fa fa-eye" style="margin-right: 20px;"></i></a><a href="{% url 'ruff:update_restaurant' restaurant.id %}"><i
                                            class="fa fa-pencil"
                                            style="margin-right: 20px;"></i></a><a href="{% url 'ruff:delete_restaurant' restaurant.id %}"><i
                                            style="color: darkred" class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
