{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}active{% endblock %}
{% block event %}{% endblock %}
{% block content %}
    {% load static %}{% csrf_token %}


{#    <script src="{% static "ruff/js/general_map.js" %}"></script>#}
    <script src="{% static "ruff/js/general_restaurant.js" %}"></script>
    <!-- /#sidebar-wrapper -->
    <script>
        function filterView(address, range, selected) {
            $('#loadingModal').modal('toggle');
            var csrf_token = $.cookie('csrftoken');
            $.ajax({
                url: '/restaurant/distance_filter/',
                type: 'POST',
                headers: {"X-CSRFToken": csrf_token},
                data: {"address": address, "range": range, "selected": selected},
                success: function (data) {
                    var returned_html = $(data);
                    $("#view").empty().append(returned_html);
                    $('html,body').animate({
                        scrollTop: $("body").offset().top
                    });
                    $('#loadingModal').modal('toggle');

                },
                error: function (err) {
                    if (err.statusCode === 403) {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    } else {
                        $("#error_message_jax").html(err.responseText).css('display', 'block');
                    }
                    $('#loadingModal').modal('toggle');
                }
            });
        }

        function sortChecked(value) {
            var address = $('#location').val();
            var range = document.getElementById("range_distance").value;
            filterView(address, range, value);
        }
    </script>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="view">
                {% include 'ruff/restaurant_view.html' %}
            </div>
        </div>

    </div>
    <br>
    <!-- /#page-content-wrapper -->
    {% include 'ruff/restaurant_request.html' %}
{% endblock %}