{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}active{% endblock %}
{% block content %}
    {% load static %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row mx-auto">
                <img src="{{ event.photo.0 }}" class="img-fluid mx-auto" style="height: 500px">
            </div>
            <br>

            <div class="row">
                <div class="col-md-8 text-justify">
                    <h4>{{ event.name }}</h4>
                    <p>Address: {{ event.location }}</p>
                    <p>Organiser: {{ event.organiser }}</p>
                    <p>Cost: {{ event.cost }}</p>
                    <p>Contact: {{ event.contact }}</p>
                    <p>Website: <a href="{{ event.website }}">{{ event.website }}</a></p>
                    <p>Description: {{ event.description }}</p>
                </div>
                <div class="col-md-4">
                    <div id="map" style="clear:both; height:350px;"></div>
                    <script>

                        function initMap() {
                            var geocoder = new google.maps.Geocoder();
                            geocoder.geocode({'address': '{{ event.location }}'}, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    var myLatLng = {
                                        lat: results[0].geometry.location.lat(),
                                        lng: results[0].geometry.location.lng()
                                    };

                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 4,
                                        center: myLatLng
                                    });

                                    var marker = new google.maps.Marker({
                                        position: myLatLng,
                                        map: map,
                                        title: '{{ event.location }}'
                                    });
                                }

                            });
                        }

                    </script>
                    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDemTKrKvU6qAmvZIvC-J4JU5na3C-mGV4&libraries=geometry,places&callback=initMap"
                            async defer></script>
                </div>

            </div>
        </div>

    </div>
    <br>
    <!-- /#page-content-wrapper -->

{% endblock %}