{% extends "ruff/base.html" %}
{% block page_title %}RuffGuide{% endblock %}
{% block hike %}{% endblock %}
{% block park %}{% endblock %}
{% block restaurant %}{% endblock %}
{% block event %}active{% endblock %}
{% block content %}
    {% load static %}

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row mx-auto">
                <img src="{{ hike.single_hike.photo.0 }}" class="img-fluid mx-auto" style="height: 500px">
            </div>
            <br>

            <div class="row">
                <div class="col-md-8 text-justify">
                    <h4>{{ hike.single_hike.name }}</h4>
                    <p>Address: {{ hike.single_hike.location }}</p>
                    <p>Difficulty: {{ hike.single_hike.difficulty }}</p>
                    <p>Distance: {{ hike.single_hike.distance }}</p>
                    <p>Off-Leash: {% if hike.single_hike.leash == True %} Yes {% else %} No {% endif %}</p>
                    <p>Description: {{ hike.single_hike.description }}</p>
                </div>
                <div class="col-md-4">
                    <div id="map" style="clear:both; height:350px;"></div>
                    <script>

                        function initMap() {
                            var geocoder = new google.maps.Geocoder();
                            geocoder.geocode({'address': '{{ hike.single_hike.location }}'}, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    var myLatLng = {
                                        lat: results[0].geometry.location.lat(),
                                        lng: results[0].geometry.location.lng()
                                    };

                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 4,
                                        center: myLatLng
                                    });

                                    var marker = new google.maps.Marker({
                                        position: myLatLng,
                                        map: map,
                                        title: '{{ hike.single_hike.location }}'
                                    });
                                }

                            });
                        }
                    </script>
                    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDemTKrKvU6qAmvZIvC-J4JU5na3C-mGV4&libraries=geometry,places&callback=initMap"
                            async defer></script>
                </div>

            </div>
            {% include 'ruff/hike_reviews.html' %}
        </div>

    </div>
    <br>
    <!-- /#page-content-wrapper -->

{% endblock %}